{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> {% block title %} {{ recipe_object.title }} Scrumptious Recipes {% endblock title %} </title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/4673/4673886.png">
</head>
<body>
    {% block content %}
    <header>
        <div>
        <nav>
            <a class="whitecolor" href="{% url 'recipe_list' %}">Main Page</a>
            <a class="whitecolor" href="{% url 'edit_recipe' recipe_object.id %}">Edit a Recipe</a>
        </nav>
        </div>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}" alt="Tacos">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table class="ingredients-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}</td>
                    <td>{{ ingredient.food_item }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
           {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
           {% endfor %}
        </ol>
    </main>
    {% endblock content %}
    <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>