{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {{ recipe_object.title }} Scrumptious Recipes {% endblock title %} </title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/4673/4673886.png">
</head>
<body>
    {% block content %}
    <header>
        <div>
        <nav>
            <a class="whitecolor" href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
        </div>
    </header>
    <main>
        <h1>Edit {{recipe_object.title}}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button>Save</button>
        </form>
    </main>
    {% endblock content %}
    <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>
