{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}
        Scrumptious Recipes
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/4673/4673886.png">
</head>
<body>
    {% block content %}
    <header>
        <div>
        <nav>
            <a class="whitecolor" href="{% url 'recipe_list' %}">Main Page</a>
            {% if user.is_authenticated %}
            <a class="whitecolor" href="{% url 'create_recipe' %}">Create a Recipe</a>
            <a class="whitecolor" href="{% url 'my_recipe_list' %}">My recipes</a>
            {% endif %}



            {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a class="whitecolor" href="{% url 'user_logout' %}">Logout</a>
            {% else %}
            <a class="whitecolor" href="{% url 'signup' %}">Sign up</a>
            <a class="whitecolor" href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
        </div>
    </header>
    <main>
        <h1>
            Scrumptious Recipes
        </h1>
        <h2>
            All the food that's fit to eat
        </h2>
        <div class="grid">
            {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <p>{{ recipe.created_on|date:"M-d-Y" }}</p>
                <img src="{{ recipe.picture }}" alt="Tacos">
                <div>4.3 stars</div>
        </div>
        {% endfor %}
        </div>
    </main>
    {% endblock content %}
    <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>