*{
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

html{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #146152;
}
body{
    padding:0;
    margin:0;
}

main{
    padding:16px;
    margin-bottom: 16px;
}

footer{
    padding-top:24px;
    padding-bottom:24px;
    padding-left:16px;
    padding-right:16px;
    border: 1px solid black;
    background-color:#B4CF66 ;
}

img{
    height: 200px;
    width: 200px;
}

nav{
    padding: 16px;
    border:1px solid black;
    background-color:#FF5A33;
    color:white;
    cursor: hand;

}

a{
    color:green;
    text-decoration: none;

}


a:hover{
    color:blueviolet;
}



.whitecolor {
    color:white
}


.backgroundgrey {
    background-color: lightgray;
}

/*both of these work the same way*/

tr:nth-child(even) {
    background-color: lightgray;
}

th{
    font-style: bold;
}
